* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  height: 100%;
}

input,
button {
  font: inherit;
}

.container {
  padding-bottom: 36px;
}

.caution {
  border: 3px solid red;
  border-radius: 4px;
  margin: 32px 0;
  padding: 12px 0;
}

#datetime-picker {
  margin-bottom: 32px;
  padding: 8px 16px;
  border-radius: 4px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 272px;
  outline: transparent;
}

/* #datetime-picker::placeholder {
  color: #2e2f42;
} */

#datetime-picker:hover {
  border-color: #000;
}
#datetime-picker:disabled {
  color: #808080;
  background: #fafafa;
  pointer-events: none;
}
#datetime-picker:active {
  color: #000;
  border-color: #4e75ff;
}

.flatpickr-calendar {
  background: #f5f5f5;
}

.flatpickr-current-month,
.flatpickr-monthDropdown-months,
.flatpickr-minute,
.cur-year {
  color: #333;
  font-weight: 600 !important; //не смог иначе  - видимо, библиотечные стили перебивают
}

span.flatpickr-weekday {
  font-weight: 500;
  color: #2e2f42;
}

.flatpickr-day.today {
  border: 2px solid #4e75ff;
  background: none;
  color: inherit;
}

.flatpickr-day:hover {
  background: #e0e0e0;
}

.flatpickr-day.selected {
  background: #4e75ff;
  color: #fff;
  border-color: #4e75ff;
}

.flatpickr-day.selected:hover {
  background: #4e75ff;
  border-color: #4e75ff;
}

button[data-start] {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  border: transparent;
  height: 40px;
}

button[data-start]:hover {
  background: #6c8cff;
}

button[data-start]:disabled {
  color: #989898;
  background: #cfcfcf;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.label {
  text-transform: uppercase;
}

.gifSpace {
  height: 300px;
}

.stop-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff5252;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  border: transparent;
  transition: background-color 0.25s linear;
}

.stop-btn:hover,
.stop-btn:focus {
  background-color: #6c8cff;
}

.alarm {
  display: inline-block;
  transform: rotate(-8deg) skewX(5deg);
  font-family: 'Comic Sans MS', 'Permanent Marker', cursive;
  font-weight: bold;
  font-size: 1.6em;
  color: #ff5c5c;
  text-shadow: 2px 2px 0 #222, -1px -1px 0 #ffb6b6, 1px -2px 0 #ffb6b6;
  letter-spacing: 2px;
  position: relative;
  top: 4px;
  animation: wiggle 3s infinite ease-in-out;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-8deg) skewX(5deg);
  }
  50% {
    transform: rotate(-10deg) skewX(8deg);
  }
}
